- page_title @business.name
- img_src = "https://maps.googleapis.com/maps/api/staticmap?scale=2&zoom=16&size=400x200&amp;maptype=roadmap"
- markers = "size:mid%7C#{@business.lat},#{@business.lng}"
- gmaps_api_key = "AIzaSyBxaCRguM2pvw9HOLybx5ZP6Cuo94KnJwg"
- map_url = "#{img_src}&markers=#{markers}&key=#{gmaps_api_key}"

%div.container
  %h1= @business.name
  %div.row
    %div.col-md-12
      %p.map
        %img{:src => map_url}/
  %div.row.detail
    %div.col-md-12
      %p.text-muted= @business.address
      - c = case
      - when @business.problems <= 2; 'warning'
      - when @business.problems > 2; 'danger'
    %div.col-md-6
      %div.alert{:class => "alert-#{c}"}
        %i.fa.fa-fw.fa-lg.fa-exclamation-circle
        = @business.problems
        = @business.problems == 1 ? 'problem' : 'problems'
    %div.col-md-6
      %div.alert.alert-info
        %i.fa.fa-fw.fa-lg.fa-location-arrow
        = "%.1f" % @business.distance_from(@location) + "km away"

  %div.row.detail
    %div.col-md-12
      - dates = @business.offences.map(&:date).uniq
      %h4
        - case
        - when @business.offences.count == 1
          Date of offence
        - when @business.offences.count > 1 && dates.size == 1
          Date of offences
        - else
          Dates of offences
      %ul
        - dates.each do |date|
          %li= date
    %div.col-md-12
      %h4
        - if @business.offences.count == 1
          Details of offence
        - else
          Details of offences
      %ul
        - @business.offences.each do |offence|
          - if offence.description =~ /\n/
            %li
              %pre= offence.description
          - else
            %li= offence.description
  %div.row.nav
    %div.col-md-12
      %p
        %a{:href => "/search?lat=#{@location.lat}&lng=#{@location.lng}"}
          %button.btn.btn-default.btn-lg{:type => "button"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back

  = haml :footer
