- require_js 'index'

%div.container
  %div.page-header
    %h1 Got Gastro
    - if request.ip == '1.129.96.165'
      %h1 Hello OAF Pub Meet!
  %div.row.landing
    %div.col-md-12
      %p
        Got Gastro helps you find out about potential food safety problems when eating out or buying food.
    %div.col-md-12.locate
      %p
        %button.btn.btn-success.geolocation{:type => "submit"}
          %i.fa.fa-fw.fa-location-arrow
          Find food safety problems near me
    %div.col-md-12
      %p.text-center
        %strong – OR –
    %div.col-md-12.search
      %p
        %input#autocomplete.input-lg.form-control{:placeholder => "Search for food safety problems near...", :type => "text", :onFocus => "geolocate()"}/

%div.container.weekly-stats
  %div.panel.panel-primary
    %div.panel-heading
      %h3.panel-title This week
    %div.panel-body
      %div.col-md-3.text-center.stat
        we collected
        %span.number
          = Offence.where(:created_at => Date.today.beginning_of_week.to_time..Time.now).count
        new offences
      %div.col-md-3.text-center.stat
        we collected
        %span.number
          = Business.where(:created_at => Date.today.beginning_of_week.to_time..Time.now).count
        new businesses
      %div.col-md-3.text-center.stat
        you received
        %span.number 120
        email alerts
      %div.col-md-3.text-center.stat
        you signed up for
        %span.number
          = Alert.where(:created_at => Date.today.beginning_of_week.to_time..Time.now).count
        new email alerts

  = haml :footer


-# FIXME(auxesis): refactor this into a variable
- google_api_key = 'AIzaSyDBvlmNsUERDKkeQWX6OCsfR5VoPaD3nWo'
%script{:src => "https://maps.googleapis.com/maps/api/js?key=#{google_api_key}&libraries=places&callback=initAutocomplete",:async => :async, :defer => :defer}
