- page_title 'Search results'
- require_js 'search'
- zoom = @businesses.size == 0 ? "&zoom=10" : ""
- img_src = "https://maps.googleapis.com/maps/api/staticmap?scale=2#{zoom}&size=400x200&amp;maptype=roadmap"
- markers = "size:tiny%7C#{@businesses.map {|p|[p.lat,p.lng].join(',')}.join('%7C')}"
- markers += "&markers=icon:http://i.stack.imgur.com/orZ4x.png%7C#{@location.lat},#{@location.lng}"
- gmaps_api_key = "AIzaSyBxaCRguM2pvw9HOLybx5ZP6Cuo94KnJwg"
- map_url = "#{img_src}&markers=#{markers}&key=#{gmaps_api_key}"

%div.container
  %h1 Food safety problems near me
  %div.row
    %div.col-md-12
      %p.map
        %img{:src => map_url}/
    - if params[:alert]
      %div.row.email-alert
        %div.col-md-12
          %div.well.well-lg
            %form{:action => link_to('/alert'), :method => 'post'}
              %div.form-group
                %p
                  Get alerts for new food problems near here straight in your email. It's free!
              %div.form-group
                %p
                  %input.form-control.input-lg{:name => 'alert[email]', :placeholder => 'me@example.org', :type => 'email'}
                  %input{:type => 'hidden', :name => "alert[location]", :value => "#{@location.lat},#{@location.lng}"}
                  %input{:type => 'hidden', :name => "alert[distance]", :value => "5"}
              %button{:class => 'btn btn-success btn-lg btn-block', :type => 'submit'}
                %i.fa.fa-fw.fa-envelope
                Create alert

  %div.row.results
    - if @businesses.size > 0
      - @businesses.each do |business|
        %div.col-md-12.result
          %div.pull-right.distance
            = "%.1f" % business.distance_from(@location) + "km away"
          %h4.business-name
            %a{:href => link_to("/business/#{business.id}")}
              = business.name
          - c = case
          - when business.problems <= 2; 'warning'
          - when business.problems > 2; 'danger'
          %p.problem-count{:class => "text-#{c}"}
            %small
              %span.badge= business.problems
              = business.problems == 1 ? 'problem' : 'problems'
          %p.address.text-muted
            %small= business.address
    - else
      %div.col-md-12.result.text-center.empty
        %i.fa.fa-thumbs-o-up.fa-fw.fa-lg
        No reported food safety problems near me.

  %div.row.nav.report
    %div.col-md-12
      %p
        %a{:href => "/"}
          %button.btn.btn-default{:type => "button"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back to search

  = haml :footer
