- page_title @business.name

- # Images
- gmaps_api_key = config['settings']['gmaps_api_key']
- map_url = google_map(:api_key => gmaps_api_key, :businesses => [ @business ], :zoom => 16, :marker_size => 'mid')

- # Variables
- severity = @business.has_major_offences? ? 'major' : 'minor'
- problem = @business.problems == 1 ? 'problem' : 'problems'
- title = "#{@business.name}: #{@business.problems} #{severity} food safety #{problem}"
- opts = { :highest_measure_only => true, :accumulate_on => :years }
- description = "Located at #{@business.address}. Last problem was #{time_ago_in_words(@business.last_offence.date, opts)} ago."

- # Facebook Open Graph
- meta_tag :property => 'fb:app_id',      :content => config['settings']['fb_app_id'] if fb_app_id?
- meta_tag :property => 'og:type',        :content => 'website'
- meta_tag :property => 'og:url',         :content => request.url
- meta_tag :property => 'og:title',       :content => title
- meta_tag :property => 'og:description', :content => description
- meta_tag :property => 'og:image',       :content => map_url
- meta_tag :property => 'og:image:width', :content => '400'
- meta_tag :property => 'og:image:height', :content => '200'

- # Twitter cards
- meta_tag :name => 'twitter:card', :content => 'summary_large_image'
- meta_tag :name => 'twitter:site', :content => '@gotgastro'
- meta_tag :name => 'twitter:title', :content => title
- meta_tag :name => 'twitter:description', :content => description
- meta_tag :name => 'twitter:image', :content => map_url
- meta_tag :name => 'twitter:image:alt', :content => "Map showing location of the business, at #{@business.address}"

= haml :facebook_sdk

%div.container
  %h1= @business.name
  %div.row
    %div.col-md-12
      %p.map
        %img{:src => map_url}/
  %div.row.detail
    %div.col-md-12
      %p.text-muted= @business.address
      - c = case
      - when @business.has_major_offences?; 'danger'
      - when @business.problems <= 2; 'warning'
      - when @business.problems > 2; 'danger'
    %div.col-md-6
      %div.alert{:class => "alert-#{c}"}
        %i.fa.fa-fw.fa-lg.fa-exclamation-circle
        = @business.problems
        = @business.has_major_offences? ? 'major' : 'minor'
        = @business.problems == 1 ? 'problem' : 'problems'
    %div.col-md-6
      %div.alert.alert-info
        %i.fa.fa-fw.fa-lg.fa-location-arrow
        = "%.1f" % @business.distance_from(@location) + "km away"

  %div.row.detail
    %div.col-md-12
      - dates = @business.offences.map(&:date).uniq
      %h4
        - case
        - when @business.offences.count == 1
          Date of offence
        - when @business.offences.count > 1 && dates.size == 1
          Date of offences
        - else
          Dates of offences
      %ul
        - dates.each do |date|
          %li= date
    %div.col-md-12
      %h4
        - if @business.offences.count == 1
          Details of offence
        - else
          Details of offences
      - if @business.offences.map {|o| o.description }.join =~ /\n/
        - @business.offences.each do |offence|
          :markdown
            #{offence.description}
      - else
        %ul
          - @business.offences.each do |offence|
            %li= offence.description
    %div.col-md-12.fb-like{'data-href' => 'https://developers.facebook.com/docs/plugins/', 'data-layout' => 'standard', 'data-action' => 'like', 'data-size' => 'large', 'data-show-faces' => 'false', 'data-share' => 'true'}

  %div.row.nav
    %div.col-md-12
      %p
        %a{:href => "/search?#{nav_query(@location)}"}
          %button.btn.btn-default.btn-lg{:type => "button"}
            %i.fa.fa-fw.fa-arrow-circle-o-left
            Back to search results

  = haml :footer
