- require_js 'index.min'

- title = 'Got Gastro'
- description = 'Got Gastro helps you find potential food safety problems when eating out or buying food.'
- image_url = link_to('/img/apple-touch-icon-precomposed.png?1', asset: true)

- # Facebook Open Graph
- meta_tag :property => 'fb:app_id',      :content => config.fb_app_id if fb_app_id?
- meta_tag :property => 'og:type',        :content => 'website'
- meta_tag :property => 'og:url',         :content => request.url
- meta_tag :property => 'og:title',       :content => title
- meta_tag :property => 'og:description', :content => description
- meta_tag :property => 'og:image',       :content => image_url
- meta_tag :property => 'og:image:width', :content => '196'
- meta_tag :property => 'og:image:height', :content => '196'

- # Twitter Cards
- meta_tag :name => 'twitter:card', :content => 'summary'
- meta_tag :name => 'twitter:site', :content => '@gotgastro'
- meta_tag :name => 'twitter:title', :content => title
- meta_tag :name => 'twitter:description', :content => description
- meta_tag :name => 'twitter:image', :content => image_url
- meta_tag :name => 'twitter:image:alt', :content => 'Got Gastro logo.'

%div.container
  %div.page-header
    %h1
      = title
  %div.row.landing
    %div.col-md-12
      %p
        = description
    %div.col-md-12.locate
      %p
        %button.btn.btn-success.geolocation{type: 'submit'}
          %i.fa.fa-fw.fa-location-arrow
          Find food safety problems near me
    %div.col-md-12
      %p.text-center
        %strong – OR –
    %div.col-md-12.search
      %p
        %input#autocomplete.input-lg.form-control{placeholder: 'Search for food safety problems near...', type: 'text', onFocus: 'geolocate()'}/

%div.container.weekly-stats
  %div.panel.panel-primary
    %div.panel-heading
      %h3.panel-title This week
    %div.panel-body
      %div.col-md-3.text-center.stat.new-offences
        we collected
        %span.number
          = Offence.where(created_at: Date.today.beginning_of_week.to_time..Time.now).count
        new offences
      %div.col-md-3.text-center.stat.new-businesses
        we collected
        %span.number
          = Business.where(created_at: Date.today.beginning_of_week.to_time..Time.now).count
        new businesses
      %div.col-md-3.text-center.stat.received
        you received
        %span.number
          = AlertsOffences.where(created_at: (Date.today - 7).to_time..Time.now).group_by(:alert_id,:import_id).count
        email alerts
      %div.col-md-3.text-center.stat.signups
        you signed up for
        %span.number
          = Alert.where(created_at: Date.today.beginning_of_week.to_time..Time.now).count
        new email alerts

  = haml :footer


-# FIXME(auxesis): refactor api key into a variable
- google_api_key = 'AIzaSyDBvlmNsUERDKkeQWX6OCsfR5VoPaD3nWo'
- require_js("https://maps.googleapis.com/maps/api/js?key=#{google_api_key}&libraries=places&callback=initAutocomplete", async: :async, defer: :defer)
